#wholeMenu {
    text-align: center;
    color: black;
    font-size: x-large;
}

.container {
    text-align: center;
    border: 6px solid gold;
    border-radius: 5%;
    background-color: coral;
}

h1 {
    color: green;
}





 

